* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Raleway';
	letter-spacing: 1px;
	background: #242424;
}

/* Navbar */

.navbar {
	position: fixed;
	display: flex;
	width: 100%;
	min-width: 100vw;
	z-index: 99;
	justify-content: space-between;
	height: 150px;
	padding-top: 15px;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.logo {
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
}
.logo span {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
}
.contact-button {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	width: 130px;
	height: 30px;
	margin-right: 5px;
	background: linear-gradient(180deg, #1853c8 0%, #092e75 100%);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.burger-icon-container {
	padding-left: 10px;
	display: flex;
	cursor: pointer;
	height: 11px;
}

.burger-line {
	display: block;
	width: 30px;
	height: 1px;
	background: #1653c7;
	margin: 5px 0;
	position: relative;
}
.burger-line::before,
.burger-line::after {
	content: '';
	background: #ffffff;
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
}
.burger-line::before {
	top: -5px;
}
.burger-line::after {
	top: 5px;
}

.burger-icon-container.cross > .burger-line {
	height: 0;
}
.cross .burger-line::before {
	height: 3px;
	border-radius: 20%;
	transform: rotate(-45deg) translate(-7px);
}

.cross .burger-line::after {
	height: 3px;
	border-radius: 20%;
	transform: rotate(45deg) translate(-7px);
}

/* links */
.nav-links {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 60px;
	left: 10px;
	background: #242424;
	padding: 10px;
	border-radius: 5px;
	z-index: 98;
}

.nav-links a {
	color: white;
	text-decoration: none;
	margin: 5px 0;
}

.nav-links.show {
	display: flex;
}

/* Social icon */
.social {
	position: fixed;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.social-icons {
	display: flex;
	flex-direction: column;
}
.social-icons a {
	color: white;
	margin: 5px 0;
}

/* Sekcja powitalna */
.welcome-section {
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	align-items: center;
	background: #242424;
}

.welcome-text {
	padding: 20px;
	color: #fff;
}

.welcome-text-title {
	font-size: 120px;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
	margin-bottom: 0;
}

.welcome-text-description {
	padding-left: 30px;
	font-size: 20px;
	max-width: 600px;
}
.welcome-text-description span {
	font-weight: bold;
}
.tiles {
	display: grid;
	height: 600px;
	grid-template-columns: repeat(2, 4fr);
	background: #212121;
}

.tile {
	border: 1px solid #444444;
	min-width: 300px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 0.3s ease;
}
.tile::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}
.tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.tile:hover {
	transform: scale(1.1);
	z-index: 9;
}
.tile-title {
	position: absolute;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	left: 20px;
	bottom: 20px;
}
.skills-title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skills-section {
	position: relative;
	justify-items: center; /* Ustawienie kafelków w poziomie */
	align-items: center; /* Ustawienie kafelków w pionie */
	gap: 20px; /* Odstęp między kafelkami */
	top: 100px;
	height: 100vh;
}
.backround-text {
	position: absolute;
	color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 180px;
	left: 40px;
	top: 0;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.295);
	z-index: -1;
}

.skills-header {
	position: absolute;
	font-weight: 700;
	font-size: 100px;
	top: 200px;
	left: 40px;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
}

.soft-skills {
	position: relative;
	top: 200px;
	width: 600px;
	height: 700px;
	gap: 20px;
	width: 50%;
	margin: 0 auto;
}

.soft-skill {
	position: absolute;
	background: #242424;
	color: #fff;
	width: 100%;
	top: 200px;
	max-width: 300px;
	height: 300px;
	padding: 20px;
	border: 1px solid #444444;
}
.soft-skill.first {
	top: 550px;
}
.soft-skill.second {
	top: 250px;
	right: 0;
}
.soft-skill.third {
	top: 200px;
	left: 0;
}
.soft-skill.fourth {
	right: 0;
	top: 600px;
}
