* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway';
	letter-spacing: 1px;
	background: #242424;
}

/* Navbar */

.navbar {
	position: fixed;
	display: flex;
	width: 100%;
	min-width: 100vw;
	z-index: 99;
	justify-content: space-between;
	height: 150px;
	padding-top: 15px;
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.logo {
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
}

.logo span {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
}

.contact-button {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	width: 130px;
	height: 30px;
	margin-right: 5px;
	background: linear-gradient(180deg, #1853c8 0%, #092e75 100%);
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	cursor: pointer;
}

.burger-icon-container {
	padding-left: 10px;
	display: flex;
	cursor: pointer;
	height: 11px;
}

.burger-line {
	display: block;
	width: 30px;
	height: 1px;
	background: #1653c7;
	margin: 5px 0;
	position: relative;
}

.burger-line::before,
.burger-line::after {
	content: '';
	background: #ffffff;
	width: 30px;
	height: 1px;
	display: block;
	position: absolute;
}

.burger-line::before {
	top: -5px;
}

.burger-line::after {
	top: 5px;
}

.burger-icon-container.cross > .burger-line {
	height: 0;
}

.cross .burger-line::before {
	height: 3px;
	border-radius: 20%;
	transform: rotate(-45deg) translate(-7px);
}

.cross .burger-line::after {
	height: 3px;
	border-radius: 20%;
	transform: rotate(45deg) translate(-7px);
}

/* links */
.nav-links {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 60px;
	left: 10px;
	background: #242424;
	padding: 10px;
	border-radius: 5px;
	z-index: 98;
}

.nav-links a {
	color: white;
	text-decoration: none;
	margin: 5px 0;
}

.nav-links.show {
	display: flex;
}

/* Social icon */
.social {
	position: fixed;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.social-icons {
	display: flex;
	flex-direction: column;
}

.social-icons a {
	font-size: 26px;
	color: white;
	margin: 5px 0;
}

/* Sekcja powitalna */
.welcome-section {
	padding: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	align-items: center;
	background: #242424;
}

.welcome-text {
	padding: 20px;
	color: #fff;
}

.welcome-text-title {
	font-size: 120px;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
	margin-bottom: 0;
}

.welcome-text-description {
	padding-left: 30px;
	font-size: 20px;
	max-width: 600px;
}

.welcome-text-description span {
	font-weight: bold;
}

.tiles {
	display: grid;
	height: 600px;
	grid-template-columns: repeat(2, 4fr);
	background: #212121;
}

.tile {
	border: 1px solid #444444;
	min-width: 300px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.tile::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}

.tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tile:hover {
	transform: scale(1.1);
	z-index: 9;
}

.tile-title {
	position: absolute;
	font-weight: bold;
	color: #ffffff;
	font-size: 16px;
	left: 20px;
	bottom: 20px;
}

/* Umiejętności */

.skills-section {
	padding: 80px;
}

.backround-text {
	color: transparent;
	text-align: center;
	font-weight: 700;
	font-size: 120px;
	-webkit-text-stroke: 1px rgba(255, 255, 255, 0.295);
	z-index: -1;
}

.skills-header {
	margin-top: 40px;
	font-weight: 700;
	font-size: 80px;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(180deg, #1b5fe2 0%, #082e76 100%);
}

.soft-skills {
	height: 800px;
	align-items: center;
	min-width: 650px;
	max-width: 650px;
	margin: 0 auto;
	position: relative;
}

.soft-skill {
	background: #242424;
	color: #fff;
	width: 100%;
	max-width: 300px;
	height: 300px;
	padding: 20px;
	border: 1px solid #444444;
	/* margin: 20px 0; */
	position: absolute;
}

.soft-skill.first {
	left: 0;
}

.soft-skill.second {
	top: 150px;
	right: 0;
}

.soft-skill.third {
	left: 0;
	bottom: 150px;
}

.soft-skill.fourth {
	right: 0;
	bottom: 0;
}

.soft-skill-title {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	text-align: center;
}

.soft-skill-description {
	padding: 15px;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hard-skills {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.skill-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80px;
	width: 100px;
	padding: 10px;
	background-color: #242424;
	color: #fff;
	border: 1px solid #444444;
	border-radius: 5px;
	/* position: absolute; */
}

.skill-tile i {
	font-size: 30px;
	margin-bottom: 10px;
}

.skill-tile span {
	font-size: 14px;
}

.dots-container {
	text-align: center;
	margin-top: 10px;
}

.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border: 1px solid #000; /* Styl ramki kropki */
	border-radius: 50%; /* Zaokrąglenie kropki */
	cursor: pointer;
}

.carousel-section{
	padding: 80px;
}
.carousel-inner {
	padding: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* overflow: hidden; */
}

.carousel-item {
	flex: 0 0 calc(25% - 10px); /* Ustawienie szerokości na 25%, z odjęciem marginesu (10px) */
	margin-right: 10px;
	padding: 5px; /* Dodanie paddingu */
}

.carousel-item img {
	max-width: 100%;
	height: auto;
}

/* Styl kropki aktywnej */
.dot.active {
	background-color: #ce0000; /* Kolor tła aktywnej kropki */
	border: none; /* Usunięcie ramki */
	width: 12px; /* Zwiększenie rozmiaru aktywnej kropki */
	height: 12px;
	/* Dodaj podświetlenie */
	box-shadow: 0 0 5px #ce0000;
}
.carousel-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
  }
  
  .nav-prev,
  .nav-next {
	background-color: #242424;
	color: #fff;
	border: none;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  
  .carousel-dots {
	display: flex;
	gap: 5px;
  }
  
  .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
  }
  
  .carousel-navigation .nav-prev {
	order: 1;
  }
  
  .carousel-navigation .nav-next {
	order: 3;
  }
  


  .contact-section {
	padding: 80px;
	background: #242424;
	color: #fff;
	text-align: center;
  }
  
  #contact-form {
	max-width: 600px;
	margin: 0 auto;
  }
  
  label {
	display: block;
	margin-top: 15px;
  }
  
  input,
  textarea {
	width: 100%;
	padding: 10px;
	margin-top: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
  }
  
  /* button {
	background-color: #1853c8;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #092e75;
  } */